*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.main{
    background: #000;
    height: 100vh;
    width: 100vw;

}
.main h1, .main h2{
    color: white;
    text-align: center;
    padding: 20px 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    margin: 10px 30px;
    height: 50px;
    width: 80px;
    font-size: 32px;
    text-align: center;
  }
  .title{
    color: white;
  }